{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron jumbotron-fluid" id="hero-delete-destination">
    <div class="container-fluid hero-text">
        <h1 class="display-3 hero-header">{{ destinationss.name }}</h1>
    </div>
</div>

<div class="container-fluid">
    <h1 class="text-center font-weight-light">Are you sure you want to delete {{ destinationss.name }}?</h1>
</div>

<div class="container-fluid"> 
    <div class="row">
        <form action="{{ url_for('deleteDestination', country_id=country_id, destination_id=destination_id, destinationss=destinationToDelete) }}" class="form-style" method="POST">
            <div class="form-group">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
                <a href="{{ url_for('showDestination', country_id=country_id )}}" class="btn btn-outline-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}  
{% endblock %}