{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron jumbotron-fluid" id="hero-edit-destination">
    <div class="container-fluid hero-text">
        <h1 class="display-3 hero-header">Edit Destination</h1>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <form action="{{ url_for('editDestination', country_id=country_id, destination_id=destination_id) }}" class="form-style" method="POST">
            <div class="form-group">
                <label class="col-form-label" for="name">Edit Destination</label>
                <input type="text" class="form-control" size="35" name="name" placeholder="{{ destination.name }}"><br>                    
            </div>
            <div class="form-group">
                <label class="col-form-label" for="location">Edit Location</label>
                <input type="text" class="form-control" name="location" placeholder="{{ destination.location }}">
            </div>
            <div class="form-group">
                <label class="col-form-label" for="description">Edit Description</label>
                <input type="text" class="form-control" name="description" placeholder="{{ destination.description }}">
            </div>
              <button type="submit" class="btn btn-primary">Edit</button>
              <a href="{{ url_for('showCountries', country_id=country_id) }}" class="btn btn-outline-warning">Cancel</a>
        </form>
    </div>
</div>

{% include "footer.html" %}  
{% endblock %}