<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Edit Destination</h1>

    <form action="{{ url_for('editDestination', country_id = country_id, destination_id=destination.id)}}" method = 'post'>
        <dl>
            <dt>Name:</dt>
                <dd><input type ='text' size='30' name='name' placeholder = '{{destination.name }}'></dd>
            <dt>Description:</dt>
                <dd><textarea name = 'description' rows='5' cols='40' placeholder = '{{destination.description }}'></textarea></dd>
            <dt>Location:</dt>
                <dd><input type = 'text' size = '18' name='location' placeholder = '{{destination.location}}'></dd>
        </dl>
    </form>

    <input type='submit' value='Edit'>
    
    <a href = '{{url_for('showDestination', country_id = country_id)}}'> Cancel </a>
    
</body>
</html>