{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron jumbotron-fluid" id="hero-new-country">
    <div class="container-fluid hero-text">
        <h1 class="display-3 hero-header">Countries</h1>
        <h2>The places you'll go</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <form class="form-style">
            <div class="form-group">
                <label class="col-form-label" for="addNewCountry">Add New Country</label>
                <input type="text" class="form-control" size="35" id="addNewCountry" placeholder="Add New Country"><br>
                <button type="submit" class="btn btn-primary">Let's Go!</button>
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}  
{% endblock %}