{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="jumbotron jumbotron-fluid" id="hero-new-country">
    <div class="container-fluid hero-text">
        <h1 class="display-3 hero-header">Countries</h1>
        <h2>The places you'll go</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <form action="#" class="form-style" method="POST">
            <div class="form-group">
                <label class="col-form-label" for="name">Add New Country</label>
                <input type="text" class="form-control" size="35" placeholder="Add New Country" name="name"><br>
                <label class="col-form-label" for="image">Add New Image</label>
                <input type="text" class="form-control" size="35" placeholder="Add New Image" name="image"><br>
                <button type="submit" class="btn btn-primary">Let's Go!</button>
                <a href="{{ url_for('showCountries') }}" class="btn btn-outline-warning">Cancel</a>
            </div>
        </form>
    </div>
</div>

{% include "footer.html" %}  
{% endblock %}